.root {
    -fx-background-color: rgba(0, 0, 0, 0.0);
    -fx-width: 400px;
}

.hbox {
    -fx-background-color: linear-gradient(to bottom, #de9a60, #003300);
    -fx-padding: 20;
}

.vboxleft {
    -fx-padding: 20;
}

.vboxright {
    -fx-padding: 20;
}

.vboxleft, .vboxright {
    -fx-margin-right: 20;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-alignment: center;
}

.welcome {
    -fx-font-size: 42px;
    -fx-text-fill: #003300;
    -fx-font-weight: bold;
    -fx-text-alignment: left;
}

.group {
    -fx-font-size: 12px;
    -fx-text-fill: #003300;
    -fx-border-width: 1;
}

.login-indicator {
    -fx-font-size: 13px;
    -fx-text-fill: black;
    -fx-border-width: 1;
    -fx-alignment: CENTER_LEFT;
    -fx-width: 100px;
}

.login-field {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-padding: 10;
    -fx-border-color: #003300;
    -fx-border-weight: 0.5px;
    -fx-border-radius: 20;
}

.login-btn {
    -fx-background-color: #003300;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-padding: 10;
    -fx-border-color: white;
    -fx-border-weight: 0.5px;
    -fx-border-radius: 20;
}

.change-btn {
    -fx-background-color: #003300;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-padding: 10;
    -fx-border-color: white;
    -fx-border-width: 0.5px;
    -fx-border-radius: 20;
    -fx-translate-y: 10px;
}

.change-btn:hover {
    -fx-background-color: white;
    -fx-text-fill: #003300;
}


.login-btn:hover {
    -fx-background-color: white;
    -fx-text-fill: #003300;
}

.register-btn {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: lightblue;
}

.exit-btn {
    -fx-background-color: #003300;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-border-color: white;
    -fx-border-weight: 0.5px;
    -fx-font-weight: bold;
}

.exit-btn:hover {
    -fx-background-color: white;
    -fx-text-fill: #003300;
}

.register-btn:hover {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: lightblue;
    -fx-underline: true;
}

.noacc-indicator {
    -fx-text-fill: black;
    -fx-font-size: 13px;
}